.header {
  display: flex;
  flex-direction: row;
  background-color: #fdf2e9;
  padding-bottom: 9rem;
}

.header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* margin-right: 5rem; */
}

.header-content h1 {
  font-weight: 800;
  font-size: 6rem;
  margin-bottom: 3.2rem;
  color: #333;
}

.header-content p {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.1;
  margin-bottom: 4.8rem;
}

.header-content button {
  padding: 1.2rem 2.4rem;
  color: #fff;
  background: #ff4820;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 2rem;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.header-image-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-img {
  width: 100%;
}
